<div id="stock-bar">
    <div id="stock">CAKE</div>
    <div id="price">{{currentPrice}}</div>
</div>
<nvd3 options="options" data="data"></nvd3>

<uib-tabset active="active">
    <uib-tab index="0" heading="1D">
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Day High
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Day Low
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Open
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Today's Close
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Average Volume
            </div>
            <div class="col-xs-3 col-md-3">
                1.2m
            </div>
            <div class="col-xs-3 col-md-3">
                Volume
            </div>
            <div class="col-xs-3 col-md-3">
                41.8m
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                52wk High
            </div>
            <div class="col-xs-3 col-md-3">
                $3703.65
            </div>
            <div class="col-xs-3 col-md-3">
                52wk Low
            </div>
            <div class="col-xs-3 col-md-3">
                $313.65
            </div>
        </div>
        <hr/>
    </uib-tab>
    <uib-tab index="1" heading="1M">
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Day High
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Day Low
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Open
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Today's Close
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Average Volume
            </div>
            <div class="col-xs-3 col-md-3">
                1.2m
            </div>
            <div class="col-xs-3 col-md-3">
                Volume
            </div>
            <div class="col-xs-3 col-md-3">
                41.8m
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                52wk High
            </div>
            <div class="col-xs-3 col-md-3">
                $3703.65
            </div>
            <div class="col-xs-3 col-md-3">
                52wk Low
            </div>
            <div class="col-xs-3 col-md-3">
                $313.65
            </div>
        </div>
        <hr/>
    </uib-tab>
    <uib-tab index="2" heading="3M">
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Day High
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Day Low
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Open
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Today's Close
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Average Volume
            </div>
            <div class="col-xs-3 col-md-3">
                1.2m
            </div>
            <div class="col-xs-3 col-md-3">
                Volume
            </div>
            <div class="col-xs-3 col-md-3">
                41.8m
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                52wk High
            </div>
            <div class="col-xs-3 col-md-3">
                $3703.65
            </div>
            <div class="col-xs-3 col-md-3">
                52wk Low
            </div>
            <div class="col-xs-3 col-md-3">
                $313.65
            </div>
        </div>
        <hr/>
    </uib-tab>
    <uib-tab index="3" heading="YTD">
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Day High
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Day Low
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Open
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Today's Close
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Average Volume
            </div>
            <div class="col-xs-3 col-md-3">
                1.2m
            </div>
            <div class="col-xs-3 col-md-3">
                Volume
            </div>
            <div class="col-xs-3 col-md-3">
                41.8m
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                52wk High
            </div>
            <div class="col-xs-3 col-md-3">
                $3703.65
            </div>
            <div class="col-xs-3 col-md-3">
                52wk Low
            </div>
            <div class="col-xs-3 col-md-3">
                $313.65
            </div>
        </div>
        <hr/>
    </uib-tab>
    <uib-tab index="4" heading="1Y">
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Day High
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Day Low
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Open
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Today's Close
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Average Volume
            </div>
            <div class="col-xs-3 col-md-3">
                1.2m
            </div>
            <div class="col-xs-3 col-md-3">
                Volume
            </div>
            <div class="col-xs-3 col-md-3">
                41.8m
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                52wk High
            </div>
            <div class="col-xs-3 col-md-3">
                $3703.65
            </div>
            <div class="col-xs-3 col-md-3">
                52wk Low
            </div>
            <div class="col-xs-3 col-md-3">
                $313.65
            </div>
        </div>
        <hr/>
    </uib-tab>
    <uib-tab index="5" heading="ALL">
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Day High
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
            <div class="col-xs-3 col-md-3">
                Day Low
            </div>
            <div class="col-xs-3 col-md-3">
                $373.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Open
            </div>
            <div class="col-xs-3 col-md-3">
                $478.65
            </div>
            <div class="col-xs-3 col-md-3">
                Today's Close
            </div>
            <div class="col-xs-3 col-md-3">
                $145.65
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                Average Volume
            </div>
            <div class="col-xs-3 col-md-3">
                1.9m
            </div>
            <div class="col-xs-3 col-md-3">
                Volume
            </div>
            <div class="col-xs-3 col-md-3">
                48.8m
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                52wk High
            </div>
            <div class="col-xs-3 col-md-3">
                $1111.65
            </div>
            <div class="col-xs-3 col-md-3">
                52wk Low
            </div>
            <div class="col-xs-3 col-md-3">
                $112.65
            </div>
        </div>
        <hr/>
    </uib-tab>
</uib-tabset>

<div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <button>SELL</button>
        </div>
        <div class="col-xs-6 col-md-3">
            <button>BUY</button>
        </div>
    </div>
</div>